/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 2fr 7fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #003366;
    color: white;
    padding:2em;
    text-align: center;
}

aside {
    padding: 3em;
    text-align: center;
    grid-area: aside;
    background-color: #006699;
    color: white;
}

main {
    grid-area: main;
    padding: 3em;
    background-color: white;
    overflow-y: auto; /* Permitir desplazamiento si el contenido es demasiado largo */
}

footer {
    grid-area: footer;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}

.red{
    background-color: rgba(153, 39, 19, 0.39);
}

.green{
    background-color: rgba(0, 128, 0, 0.432);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.507);
}

.grey{
    background-color: rgba(128, 128, 128, 0.507);
}


.card {
    /* separacion entre lineas */
    line-height: 2;
    text-align: center;
    width: 20vw;
    height: 40vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card #semana {
    background-color: #649658;
}
.card h3 {
    margin: 0 0 10px;
}

.card p {
    margin: 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-gap: 10px;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    padding: .5em ;
    border-radius: 5px;
    cursor: pointer;
}

.dia-actual {
    background-color: rgba(255, 165, 0, 0.5); /* Color de fondo para el día actual */
    font-weight: bold; /* Hacer el texto más destacado */
}